.title{
    font-size:30px;
    margin:0px
}

.flame {
    margin: 10px 0;
}

.account {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    background-color: rgb(244, 242, 242);
}

.icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.name {
    font-weight: bold;
    margin: 0;

}

.text {
    margin: 0;
    color: #555;
}